.mr-1 {
  margin-right: 0.5ch;
}
.mr-2 {
  margin-right: 1ch;
}
.mr-3 {
  margin-right: 1.5ch;
}
.mr-4 {
  margin-right: 2ch;
}
.ml-1 {
  margin-left: 0.5ch;
}
.ml-2 {
  margin-left: 1ch;
}
.ml-3 {
  margin-left: 1.5ch;
}
.ml-4 {
  margin-left: 2ch;
}
.mb-1 {
  margin-bottom: 0.5ch;
}
.mb-2 {
  margin-bottom: 1ch;
}
.mb-3 {
  margin-bottom: 1.5ch;
}
.mb-4 {
  margin-bottom: 2ch;
}
.mt-1 {
  margin-top: 0.5ch;
}
.mt-2 {
  margin-top: 1ch;
}
.mt-3 {
  margin-top: 1.5ch;
}
.mt-4 {
  margin-top: 2ch;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-1 {
  margin: 1ch 0;
}
.my-2 {
  margin: 1.5ch 0;
}
.my-3 {
  margin: 2ch 0;
}
.my-4 {
  margin: 2.5ch 0;
}

.flex {
  display: flex;
}
.flex-a {
  justify-content: space-around;
}
.flex-b {
  justify-content: space-between;
}
.flex-c {
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}
.flex-v-c {
  justify-content: center;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.fs-1 {
  font-size: 1em;
}
.fs-2 {
  font-size: 1.5em;
}
.fs-3 {
  font-size: 2em;
}
.fs-4 {
  font-size: 2.5em;
}
.fs-5 {
  font-size: 3em;
}
.fs-6 {
  font-size: 3.5em;
}

.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.w-full {
  width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a,
ol li a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-b {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.pb-5 {
  margin-bottom: 5ch;
}

button {
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 1.8ch 2.5ch;
  height: 42px;
}
button:hover {
  cursor: pointer;
}

header {
  position: relative;
  height: 195px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2ch 0;
}

a.logo {
  width: fit-content;
}
a.logo img {
  width: 150px;
}

nav.top-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}
nav.top-nav ul li {
  margin: 0 1ch;
}
nav.top-nav ul li a {
  text-decoration: none;
  color: #333;
}

.search-bar {
  box-shadow: 0px 0px 3px 0px;
  overflow: hidden;
  border-radius: 25px;
}
.search-bar input {
  border: none;
  width: 475px;
  height: 42px;
  padding: 1ch 1ch 1ch 0ch;
  outline: none;
}
.search-bar button {
  text-align: center;
  background: #fff;
  padding: 0 1.5ch;
}

.explore-ifcc {
  background-color: #042C76;
  color: #fff;
}

footer {
  background-color: #042C76;
  color: #fff;
  padding: 2.5ch 0;
}
footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer div.nav nav ul li {
  margin: 1ch 0;
}
footer div.socials ul {
  display: flex;
}
footer div.socials ul li {
  margin: 0 0.5ch;
}

.flex-direction-row {
  flex-direction: row;
}

.menu {
  width: 100%;
  background-color: #f1f1f1;
  padding: 2em 2em;
}

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3882352941);
  transition: 0.3s;
}
.card--bg-color-blue {
  background-color: #8197ba;
}
.card--bg-color-orange {
  background-color: #d88d42;
}
.card--bg-color-green {
  background-color: #55cca2;
}
.card--bg-color-red {
  background-color: #c91e48;
}
.card--bg-color-olive {
  background-color: #a3bd58;
}
.card__head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__head--text-center {
  text-align: center;
}
.card__head--color-white {
  color: white;
}
.card__head--fontweight {
  font-weight: 400;
}
.card__body {
  padding: 1em 1.25em 0 1.25em;
}
.card__body--fontsize {
  font-size: 1em;
}

/* Main Site start */
.recent-articles {
  background-color: #f1f1f1;
}

.event-highlights {
  background-color: #ffffff;
}

.key-partners {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 25px;
}
.key-partners h1 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  color: #000000;
}
.article-grid h1 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}
.article-grid div h2 {
  font-size: 2em;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.article-grid div p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
.article-grid img {
  object-fit: contain;
  width: 80%;
  max-height: 500px;
  margin: 0 auto;
}

.partner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.partner-grid a {
  text-align: center;
}
.partner-grid a img {
  object-fit: contain;
  width: 80%;
  max-height: 250px;
}

/* News area */
.newsSection {
  margin: 2em;
}

.newsInfo {
  margin: 0 3em;
}

.newsButton {
  background-color: #042c76;
  /* Green */
  border-radius: 20px;
  padding: 0.5em 2.75em;
  text-decoration: none;
  color: white;
}
.newsButton:hover {
  cursor: pointer;
  background-color: #0741ac;
}

.newsImg {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* News area end */
/* Main Site end */
.d-none {
  display: none;
}

.mega-menu {
  background-color: #042C76;
  color: #fff;
  padding: 3ch 2ch;
  box-shadow: 0px 1px 10px 0px #000;
  position: absolute;
  top: 195px;
  left: 0;
  width: 100%;
}
.mega-menu-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2ch;
}
.mega-menu-body ul li {
  margin: 1ch 0;
}
.mega-menu-body ul li > h3 {
  font-size: 1.2em;
}

.test {
  background-color: blueviolet;
  width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-self: center;
  gap: 25px;
}

.card-heading {
  width: 100%;
}

.textstyle {
  text-align: center;
  color: black;
  padding: 0 0 1em 0;
  margin-top: 0;
  font-size: 2em;
  font-weight: 500;
}

.cardbutton {
  border-radius: 5px;
  padding: 0.5em 2.75em;
  margin: 1.5em 0;
  text-decoration: none;
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.container {
  background-color: #F1F1F1;
  padding: 50px 0;
}
.container__title {
  display: flex;
  justify-content: center;
}
.container__contact {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}
.container__contact__information {
  width: 600px;
}
.container__contact__information__paragraph {
  font-size: 20px;
  line-height: 30px;
}
.container__contact__form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px 100px 50px;
  grid-gap: 30px;
}
.container__contact__form-grid__inputs input {
  height: 40px;
  margin: 10px 0;
}
.container__contact__form-grid__inputs--expand {
  grid-column-start: 1;
  grid-column-end: 3;
}
.container__contact__form-grid__inputs--expand input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
}
.container__contact__form-grid__inputs--expand--message {
  height: 100px !important;
}
.container__contact__form-grid__inputs--expand .form-btn {
  background-color: #042C76;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  width: 50%;
}
.container__contact__form-grid .submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.subpage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.subpage .subpage__container {
  background-color: #fff;
  padding: 50px 0;
}
.subpage .subpage__container--dark {
  padding: 50px 0;
  background-color: #F1F1F1;
}
.subpage .subpage__container__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 5.4% 0 7.3%;
}
.subpage .subpage__container__content__headline--heavy {
  font-size: calc(0.83vw + 0.83em);
  grid-column: 2/3;
  grid-row: 1;
  text-align: start;
}
.subpage .subpage__container__content__headline--light {
  font-size: calc(1.275vw + 1.275em);
  grid-column: 1/-1;
  grid-row: 1;
  text-align: center;
  font-weight: 300;
  margin: 0 0 50px 0;
}
.subpage .subpage__container__content__paragraph {
  font-size: calc(0.7vw + 0.7em);
  font-weight: 300;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2;
}
.subpage .subpage__container__content__image {
  width: 100%;
  max-width: 446px;
  align-self: center;
  grid-column: 1/2;
  grid-row: 2;
  padding-right: 21.3%;
}

/*# sourceMappingURL=style.css.map */
