// Margin
.m {

    // Right
    &r {
        &-1 {
            margin-right: 0.5ch;
        }

        &-2 {
            margin-right: 1ch;
        }

        &-3 {
            margin-right: 1.5ch;
        }

        &-4 {
            margin-right: 2ch;
        }
    }

    // Left
    &l {
        &-1 {
            margin-left: 0.5ch;
        }

        &-2 {
            margin-left: 1ch;
        }

        &-3 {
            margin-left: 1.5ch;
        }

        &-4 {
            margin-left: 2ch;
        }
    }

    // Bottom
    &b {
        &-1 {
            margin-bottom: 0.5ch;
        }

        &-2 {
            margin-bottom: 1ch;
        }

        &-3 {
            margin-bottom: 1.5ch;
        }

        &-4 {
            margin-bottom: 2ch;
        }
    }

    // Top
    &t {
        &-1 {
            margin-top: 0.5ch;
        }

        &-2 {
            margin-top: 1ch;
        }

        &-3 {
            margin-top: 1.5ch;
        }

        &-4 {
            margin-top: 2ch;
        }
    }

    &x {
        &-auto {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &y {
        &-1 {
            margin: 1ch 0;
        }

        &-2 {
            margin: 1.5ch 0;
        }

        &-3 {
            margin: 2ch 0;
        }

        &-4 {
            margin: 2.5ch 0;
        }
    }
}

// Flex
.flex {
    display: flex;

    &-a {
        justify-content: space-around;
    }

    &-b {
        justify-content: space-between;
    }

    &-c {
        justify-content: space-between;
        align-items: center;
        justify-content: space-between;
    }

    &-v-c {
        justify-content: center;
        flex-direction: column;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}

.align-center {
    align-items: center;
}

.fs {
    &-1 {
        font-size: 1em;
    }

    &-2 {
        font-size: 1.5em;
    }

    &-3 {
        font-size: 2em;
    }

    &-4 {
        font-size: 2.5em;
    }

    &-5 {
        font-size: 3em;
    }

    &-6 {
        font-size: 3.5em;
    }
}

.fw {
    &-1 {
        font-weight: 100;
    }

    &-2 {
        font-weight: 200;
    }

    &-3 {
        font-weight: 300;
    }

    &-4 {
        font-weight: 400;
    }

    &-5 {
        font-weight: 500;
    }

    &-6 {
        font-weight: 600;
    }

    &-7 {
        font-weight: 700;
    }

    &-8 {
        font-weight: 800;
    }

    &-9 {
        font-weight: 900;
    }
}

.w-full {
    width: 100%;
}