@import "__variables";
@import "__helpers";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-b {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.pb-5 {
  margin-bottom: 5ch;
}

button {
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 1.8ch 2.5ch;
  height: 42px;

  &:hover {
    cursor: pointer;
  }
}

// Header
header {
  position: relative;
  height: 195px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2ch 0;
}

a.logo {
  width: fit-content;

  img {
    width: 150px;
  }
}

nav.top-nav {
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;

    li {
      margin: 0 1ch;

      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

// Search
.search-bar {
  box-shadow: 0px 0px 3px 0px;
  overflow: hidden;
  border-radius: 25px;

  input {
    border: none;
    width: 475px;
    height: 42px;
    padding: 1ch 1ch 1ch 0ch;
    outline: none;
  }

  button {
    text-align: center;
    background: #fff;
    padding: 0 1.5ch;
  }
}

.explore-ifcc {
  background-color: $primary-color;
  color: #fff;
}

// Footer
footer {
  background-color: $primary-color;
  color: #fff;
  padding: 2.5ch 0;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.nav {
    nav {
      ul {
        li {
          margin: 1ch 0;
        }
      }
    }
  }

  div.socials {
    ul {
      display: flex;

      li {
        margin: 0 0.5ch;
      }
    }
  }
}

.flex-direction-row {
  flex-direction: row;
}

.menu {
  width: 100%;
  background-color: #f1f1f1;
  padding: 2em 2em;
}

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 3px 6px 0px #00000063;
  transition: 0.3s;

  &--bg-color-blue {
    background-color: #8197ba;
  }

  &--bg-color-orange {
    background-color: #d88d42;
  }

  &--bg-color-green {
    background-color: #55cca2;
  }

  &--bg-color-red {
    background-color: #c91e48;
  }

  &--bg-color-olive {
    background-color: #a3bd58;
  }

  &__head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &--text-center {
      text-align: center;
    }

    &--color-white {
      color: white;
    }

    &--fontweight {
      font-weight: 400;
    }
  }

  &__body {
    padding: 1em 1.25em 0 1.25em;

    &--fontsize {
      font-size: 1em;
    }
  }
}

/* Main Site start */
.recent-articles {
  background-color: #f1f1f1;
}

.event-highlights {
  background-color: #ffffff;
}

.key-partners {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 25px;

  h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  color: #000000;

  h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
  }

  div {
    h2 {
      font-size: 2em;
      margin-top: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    p {
      font-size: 1em;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  img {
    object-fit: contain;
    width: 80%;
    max-height: 500px;
    margin: 0 auto;
  }
}

.partner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  a {
    text-align: center;

    img {
      object-fit: contain;
      width: 80%;
      max-height: 250px;
    }
  }
}

/* News area */
.newsSection {
  margin: 2em;
}

.newsInfo {
  margin: 0 3em;
}

.newsButton {
  background-color: #042c76;
  /* Green */
  border-radius: 20px;
  padding: 0.5em 2.75em;
  text-decoration: none;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: #0741ac;
  }
}

.newsImg {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* News area end */

/* Main Site end */

// Mega menu
.d-none {
  display: none;
}

.mega-menu {
  background-color: $primary-color;
  color: #fff;
  padding: 3ch 2ch;
  box-shadow: 0px 1px 10px 0px #000;

  position: absolute;
  top: 195px;
  left: 0;
  width: 100%;

  // &-header {
  //     display: grid;
  //     grid-template-columns: repeat(5, 1fr);

  //     div>h2 {
  //         font-size: 1.2em;
  //     }
  // }

  &-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2ch;

    ul {
      li {
        margin: 1ch 0;

        >h3 {
          font-size: 1.2em;
        }
      }
    }
  }
}

.test {
  background-color: blueviolet;
  width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-self: center;
  gap: 25px;
}

.card-heading {
  width: 100%;
}

.textstyle {
  text-align: center;
  color: black;
  padding: 0 0 1em 0;
  margin-top: 0;
  font-size: 2em;
  font-weight: 500;
}

.cardbutton {
  border-radius: 5px;
  padding: 0.5em 2.75em;
  margin: 1.5em 0;
  text-decoration: none;
  color: white;
  box-shadow: 0px 3px 6px #00000029;
}

// Team 6 :


//Contact page

.container {
    background-color: $content-background;
    padding: 50px 0;
    &__title {
        display: flex;
        justify-content: center;
    }
    &__contact {
        display: flex;
        justify-content: space-around;
        margin: 0 100px;
        &__information {
            width: 600px;
            &__title {
            }
            &__paragraph {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__form-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 50px 50px 100px 50px;
            grid-gap: 30px;
            &__inputs {
                input {
                    height: 40px;
                    margin: 10px 0;
                }
                &--expand {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    input {
                        width: 100%;
                        height: 40px;
                        margin: 10px 0;
                    }
                    &--message {
                        height: 100px !important;
                    }
                    .form-btn {
                        background-color: $primary-color;
                        border-style: none;
                        border-radius: 5px;
                        color: #fff;
                        width: 50%;
                    }
                }
            }
            .submit-btn {
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }
        }
    }
}

// Subpage
.subpage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .subpage__container {
        background-color:$white;
        padding: 50px 0;
        &--dark{
            padding:50px 0;
            background-color: $content-background;
        }
        &__content {
            display: grid;
            grid-template-columns: 1fr 2fr;
            padding: 0 5.4% 0 7.3%;
            &__headline--heavy {
                font-size: calc(0.83vw + 0.83em);
                grid-column: 2/3;
                grid-row: 1;
                text-align: start;
            }
            &__headline--light {
                font-size: calc(1.275vw + 1.275em);
                grid-column: 1/-1;
                grid-row: 1;
                text-align: center;
                font-weight: 300;
                margin: 0 0 50px 0;
            }
            &__paragraph {
                font-size: calc(0.7vw + 0.7em);
                font-weight: 300;
                margin: 0;
                grid-column: 2/3;
                grid-row: 2;
            }
            &__image {
                width: 100%;
                max-width: 446px;
                align-self: center;
                grid-column: 1/2;
                grid-row: 2;
                padding-right: 21.3%;
            }
        }
    }
}

